.btn-tematica {
    color: black;

    border-radius: 0%;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    background-color: transparent;
    width: auto;

    border-width: 1px;


}

.btn-tematica:focus {
    outline: 0;
}

.btn-tematica2 {
    border-color: black;
    transition: box-shadow 0.2s ease-in-out;
    border-width: 1px;
}

.btn-tematica2:hover {
    box-shadow: 0 0 40px 40px #724a3a inset;
    border-color: #724a3a !important;
    color: white !important;
    background-color: #724a3a;
}

.headerCard{
    display: flex;
    justify-content: right;
    padding-bottom: 10px;
}

.footerCard{
    padding-top: 10px;
}

.ContainerTematica{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.TituloTematica{
    padding-top: 6%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}




